* {
  margin: 0;
  padding: 0;
}

.wrapper {
  overflow: hidden;
}

.preloader {
  position: relative;
  width: 100vw;
  height: 100vh; 
  z-index: 1;
}

.preloader__gif {
  position: absolute;
  top: 50%;
  width: 500px;
  height: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1s;
}

.preloader__gif.hide {
  opacity: 0;
}

.preloader::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #e1ddd5;
  z-index: -1;
  transition: 3s;
}

.preloader::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #e1ddd5;
  z-index: -1;
  transition: 3s;
}

.preloader.hide::before{
  left: -100%;
}
.preloader.close {
  display: none;
}
.preloader.hide::after{
  right: -100%;
}

@media (max-width: 992px) {
  .preloader__gif {
    width: 150px;
    height: 150px;
  }
} 